/* phil welsby - 11 aug 2021 Drum Kit Challenge*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 30px;
}

.keys {
    /*background-color: blue;*/
    display: flex;
    justify-content: space-around
}

.key {
    background-color: blueviolet;
}

.name {
    background-color: chartreuse;
}