/* phil welsby - 11 aug 2021 Drum Kit Challenge*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(./images/John-Henry-Bonham.png);
}
p {
    font-size: 30px;
}

.keys {
    padding-top: 0px;
    /*background-color: blue;*/
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    color: white;
}



.key {
    /*background-color: blueviolet;*/
    display: flex;
    justify-content: center;
    padding: 20px;
}

.name {
    /*background-color: chartreuse;*/
    padding-bottom: 20px;
}
